<!DOCTYPE html>
<html lang="de">

<head>
  {{- partial "head.html" . -}}
  <meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
  <meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
  <meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
  <meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
  <meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
  <meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
  <meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
  <meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
  <meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />

  <link rel="stylesheet" href="/css/calendar.css">
</head>

<body>
  {{ $isGerman := eq .Language.LanguageName "Deutsch" }}

  {{- partial "alert.html" . -}}

  {{- partial "header.html" . -}}

  <div class="scroll-top rounded-full">
    <span class="icon-keyboard_arrow_up text-2xl"></span>
  </div>

  <div class="mx-auto my-10 max-w-6xl">
    <div id="form-calendar-wrapper" class="mx-3 col-span-3 lg:col-span-2 px-2">
      <h1 class="title text-5xl mb-4">{{ .Title }}</h1>
      <div id="prose" class="content prose md:prose-lg lg:prose-xl max-w-none py-1">{{ .Content }}</div>
      
      {{- if eq .Language.LanguageName "Deutsch" }}

      <div id="smoobuApartment1855499de" class="calendarWidget">
        <div 
          class="calendarContent bg-white justify-center" 
          data-load-calendar-url="https://login.smoobu.com/de/cockpit/widget/single-calendar/1855499" 
          data-verification="fa52fdb4acf928d7be3ea8489f8c7e1655d1b3b516cac24bb1a0e64dc9ec6625" 
          data-baseUrl="https://login.smoobu.com"
          data-disable-css="false">
        </div>
        <script type="text/javascript" src="https://login.smoobu.com/js/Apartment/CalendarWidget.js"></script>
      </div>

      {{- else }}

      <div id="smoobuApartment1855499en" class="calendarWidget">
        <div 
          class="calendarContent bg-white justify-centery" 
          data-load-calendar-url="https://login.smoobu.com/en/cockpit/widget/single-calendar/1855499" 
          data-verification="fa52fdb4acf928d7be3ea8489f8c7e1655d1b3b516cac24bb1a0e64dc9ec6625" 
          data-baseUrl="https://login.smoobu.com" 
          data-disable-css="false">
        </div>
        <script type="text/javascript" src="https://login.smoobu.com/js/Apartment/CalendarWidget.js"></script>
      </div>
      
      {{- end }}

      <form name="contact" id="contact">

        <div id="calendar-wrapper">
          <div class="calendar"></div>

          <div id="dates-selector-wrapper" class="flex justify-start py-2">
            <div class="flex p-4 mr-2 input bg-gray-200 border border-gray-200 focus:outline-none focus:bg-white focus:border-gray-500">
              <label for="start">{{ if $isGerman }}Vom{{ else }}From{{ end }}&nbsp;</label>
              <input 
                type="date" 
                id="start" 
                name="start" 
                value="{{ now.Format "2006-01-02" }}"
                min="{{ now.Format "2006-01-02" }}"
                required
                class="bg-gray-200 focus:outline-none focus:bg-white focus:border-gray-500">
            </div>

            <div class="flex p-4 ml-2 input bg-gray-200 border border-gray-200 focus:outline-none focus:bg-white focus:border-gray-500">
              <label for="end">{{ if $isGerman }}bis{{ else }}to{{ end }}&nbsp;</label>
              <input 
                type="date" 
                id="end" 
                name="end" 
                value="{{ now.Format "2006-01-02" }}"
                min="{{ now.Format "2006-01-02" }}"
                required
                class="bg-gray-200 focus:outline-none focus:bg-white focus:border-gray-500">
            </div>
          </div>
        </div>

          <div class="input">
            <div id="guests-selector-wrapper" class="flex justify-start py-2">
              <div class="flex p-4 mr-2 input bg-gray-200 border border-gray-200 focus:outline-none focus:bg-white focus:border-gray-500">
                <label for="num-adults">{{ if $isGerman }}Anzahl Erwachsene:{{ else }}Number of adults:{{ end }}&nbsp;</label>
                <input
                  type="number"
                  id="num-adults"
                  name="num-adults"
                  size="3"
                  value="1"
                  min="1"
                  max="6"
                  required
                  class="bg-gray-200 focus:outline-none focus:bg-white focus:border-gray-500">
              </div>
              <div class="flex p-4 ml-2 mr-2 input bg-gray-200 border border-gray-200 focus:outline-none focus:bg-white focus:border-gray-500">
                <label for="num-children">{{ if $isGerman }}Anzahl Kinder:{{ else }}Number of children:{{ end }}&nbsp; </label>
                <input
                  type="number"
                  id="num-children"
                  name="num-children"
                  size="3"
                  value="0"
                  min="0"
                  max="2"
                  required
                  class="bg-gray-200 focus:outline-none focus:bg-white focus:border-gray-500">
              </div>
              <div class="flex p-4 ml-2 input bg-gray-200 border border-gray-200 focus:outline-none focus:bg-white focus:border-gray-500">
                <label for="num-pets">{{ if $isGerman }}Anzahl Haustiere:{{ else }}Number of pets:{{ end }}&nbsp;</label>
                <input
                  type="number"
                  id="num-pets"
                  name="num-pets"
                  size="3"
                  value="0"
                  min="0"
                  max="2"
                  class="bg-gray-200 focus:outline-none focus:bg-white focus:border-gray-500">
              </div>
            </div>
          </div>

        <div class="input">
          <div id="names-wrapper" class="flex">
            <div class="flex-1 mr-2">
              <input
                  type="text"
                  size="15"
                  placeholder="Vorname"
                  name="firstname"
                  id="firstname"
                  class="p-4 bg-gray-200 border border-gray-200 focus:outline-none focus:bg-white focus:border-gray-500"
                  required>
            </div>

            <div class="flex-1 ml-2">
              <input
                  type="text"
                  size="15"
                  placeholder="Nachname"
                  name="lastname"
                  id="lastname"
                  class="p-4 bg-gray-200 border border-gray-200 focus:outline-none focus:bg-white focus:border-gray-500"
                  required>
            </div>
          </div>
        </div>

        <div class="input">
          <div id="address-wrapper" class="flex">
            <div class="input mr-2">
              <input
                  type="text"
                  placeholder={{ if $isGerman }}"Adresszeile"{{ else }}"Address"{{ end }}
                  name="address"
                  id="address"
                  class="w-full p-4 bg-gray-200 border border-gray-200 focus:outline-none focus:bg-white focus:border-gray-500"
                  required>
            </div>

            <div class="input mx-2">
              <input
                  size="9"
                  class="p-4 m-4 bg-gray-200 border border-gray-200 focus:outline-none focus:bg-white focus:border-gray-500"
                  type="text"
                  placeholder={{ if $isGerman }}"PLZ"{{ else }}"Postal code"{{ end }}
                  name="postal-code"
                  id="postal-code"
                  required>
            </div>

            <div class="input ml-2">
              <input
                  size="16"
                  class="p-4 m-4 bg-gray-200 border border-gray-200 focus:outline-none focus:bg-white focus:border-gray-500"
                  type="text"
                  placeholder={{ if $isGerman }}"Land"{{ else }}"Country"{{ end }}
                  name="country"
                  id="country"
                  required>
            </div>
          </div>
        </div>

        <div class="input">
          <input 
            type="text" 
            placeholder="E-Mail" 
            name="mail"
            class="p-4 bg-gray-200 border border-gray-200 focus:outline-none focus:bg-white focus:border-gray-500"
            required>
        </div>

        <div class="input">
          <textarea 
            rows="5" 
            cols="30" 
            placeholder={{ if $isGerman }}"Nachricht"{{ else }}"Message"{{ end }}
            name="message"
            class="p-4 bg-gray-200 border border-gray-200 focus:outline-none focus:bg-white focus:border-gray-500"
            required></textarea>
        </div>
        
        <p id="price-output" class="py-4"></p>

        <input 
          type="submit" 
          value={{ if $isGerman }}"Senden"{{ else }}"Send"{{ end }}
          class="px-8 py-2 pt-5 duration-200 bg-gray-800 text-white cursor-pointer transition-colors hover:bg-gray-400">
      </form>
    </div>
  </div>

  {{- partial "footer.html" . -}}
</body>
{{/* These values are set dynamically to adjust the calculator to the language. */}}
{{- if $isGerman }}
<script>const LANGUAGE = "Deutsch"</script>
{{- else }}
<script>const LANGUAGE = "English"</script>
{{- end }}
<script src="/js/submit-form.js"></script>
<script src="/js/price-calculator.js"></script>

</html>