<!DOCTYPE html>
<html lang="de">

<head>
  {{- partial "head.html" . -}}
  <meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
  <meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
  <meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
  <meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
  <meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
  <meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
  <meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
  <meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
  <meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />

  <link rel="stylesheet" href="/css/photos.css" />
</head>
<body>

{{ $isGerman := eq .Language.LanguageName "Deutsch" }}

{{- partial "alert.html" . -}}

{{- partial "header.html" . -}}

<div class="mx-auto my-10 max-w-6xl">

    <h1 class="title text-5xl font-bold mb-3">{{.Title}}</h1>

    <div class="content py-1 my-5">{{.Content}}</div>

    <div class="scroll-top rounded-full">
        <span class="icon-keyboard_arrow_up text-2xl"></span>
    </div>

    {{- if $isGerman }}
    <h2 class="py-6 title text-3xl" directory="outside">Außen-/Eingangsbereich</h2>
    {{- else }}
    <h2 class="py-6 title text-3xl" directory="outside">Outside view and entrance</h2>
    {{- end }}
    <div class="image-grid">
        {{ range sort (readDir "static/img/photos/outside/") "Name" }}
        {{ if (findRE ".jpg$" .Name) }}
        <div class="image-item">
            <img src="/img/photos/outside/{{ .Name }}" directory="outside">
        </div>
        {{ end }}
        {{ end }}
    </div>

    {{- if $isGerman }}
    <h2 class="py-6 title text-3xl" directory="living-room">Wohnzimmer</h2>
    {{- else }}
    <h2 class="py-6 title text-3xl" directory="living-room">Living room</h2>
    {{- end }}
    <div class="image-grid">
        {{ range sort (readDir "static/img/photos/living-room/") "Name" }}
        {{ if (findRE ".jpg$" .Name) }}
        <div class="image-item">
            <img src="/img/photos/living-room/{{ .Name }}" directory="living-room">
        </div>
        {{ end }}
        {{ end }}
    </div>

    {{- if $isGerman }}
    <h2 class="title text-3xl my-5" directory="bedroom-ground">Schlafzimmer im Erdgeschoss</h2>
    {{- else }}
    <h2 class="title text-3xl my-5" directory="bedroom-ground">Bedroom on the first floor</h2>
    {{- end }}
    <div class="image-grid">
        {{ range sort (readDir "static/img/photos/bedroom-ground/") "Name" }}
        {{ if (findRE ".jpg$" .Name) }}
        <div class="image-item">
            <img src="/img/photos/bedroom-ground/{{ .Name }}" directory="bedroom-ground">
        </div>
        {{ end }}
        {{ end }}
    </div>

    {{- if $isGerman }}
    <h2 class="title text-3xl my-5" directory="bedroom-basement">Schlafzimmer im Untergeschoss</h2>
    {{- else }}
    <h2 class="title text-3xl my-5" directory="bedroom-basement">Bedroom in the basement</h2>
    {{- end }}
    <div class="image-grid">
        {{ range sort (readDir "static/img/photos/bedroom-basement/") "Name" }}
        {{ if (findRE ".jpg$" .Name) }}
        <div class="image-item">
            <img src="/img/photos/bedroom-basement/{{ .Name }}" directory="bedroom-basement">
        </div>
        {{ end }}
        {{ end }}
    </div>

    {{- if $isGerman }}
    <h2 class="title text-3xl my-5" directory="kitchen">Küche</h2>
    {{- else }}
    <h2 class="title text-3xl my-5" directory="kitchen">Kitchen</h2>
    {{- end }}
    <div class="image-grid">
        {{ range sort (readDir "static/img/photos/kitchen/") "Name" }}
        {{ if (findRE ".jpg$" .Name) }}
        <div class="image-item">
            <img src="/img/photos/kitchen/{{ .Name }}" directory="kitchen">
        </div>
        {{ end }}
        {{ end }}
    </div>

    {{- if $isGerman }}
    <h2 class="title text-3xl my-5" directory="bathroom">Badezimmer</h2>
    {{- else }}
    <h2 class="title text-3xl my-5" directory="bathroom">Bathroom</h2>
    {{- end }}
    <div class="image-grid">
        {{ range sort (readDir "static/img/photos/bathroom/") "Name" }}
        {{ if (findRE ".jpg$" .Name) }}
        <div class="image-item">
            <img src="/img/photos/bathroom/{{ .Name }}" directory="bathroom">
        </div>
        {{ end }}
        {{ end }}
    </div>

    <div class="overlay">
        <span class="close-button" onclick="closeOverlay()">&times;</span>
        <div class="imgs-wrapper">
            <img class="arrow-button" src="/img/left-arrow.svg">
            <img id="overlay-image" src="" alt="Overlay Image">
            <img class="arrow-button" src="/img/right-arrow.svg">
        </div>
    </div>

    <script>
        const imageItems = document.querySelectorAll('.image-item');
        const imgs = [...imageItems].map(item => item.getElementsByTagName("img")[0]);
        const overlay = document.querySelector('.overlay');
        const overlayImage = document.getElementById('overlay-image');
        let currentUsedImgIndex = NaN;
        let currentlyUsedImg = null;

        imageItems.forEach((item, index) => {
            const img =  item.getElementsByTagName("img")[0];
            const splitImgUrl = img.src.split("/");
            const imgFileName = splitImgUrl[splitImgUrl.length - 1];
            const associatedDir = item.querySelector("img").getAttribute("directory")

            item.addEventListener("click", () => {
                overlayImage.src = `/img/photos/${associatedDir}/${imgFileName}`;
                overlay.style.display = 'block';
                currentlyUsedImg = img;
            });
        });

        const closeOverlay = () => overlay.style.display = 'none';

        overlay.addEventListener('click', (e) => {
            if (e.target === overlay) {
                closeOverlay();
            }
        });
        
        const getCurrentImg = () => {
            const currentImgFileName = overlayImage.src.split("/").slice(-1)[0];
            return imgs.filter(img => {
                const iteratedImgFileName = img.src.split("/").slice(-1)[0];
                return iteratedImgFileName === currentImgFileName;
            })[0];
        };

        const getMaxImgIndex = () => {
            let highest = 0;
            imgs.forEach(img => {
                const imgName = img.src.split("/").slice(-1)[0];
                const imgNumber = parseInt(imgName.match(/\d+/)[0]);
                highest = imgNumber > highest ? imgNumber : highest;
            });
            
            return highest;
        };

        const getCurrentImgIndex = () => {
            const currentImgFileName = overlayImage.src.split("/").slice(-1)[0];
            return parseInt(currentImgFileName.match(/\d+/)[0]);
        };

        const [leftArrow, rightArrow] = document.getElementsByClassName("arrow-button");

        const getDirAssociatedWithIndex = index => {
            const splitPath = [...document.getElementsByClassName("image-item")]
                .map(element => element.getElementsByTagName("img")[0].src)
                .findLast(name => name.includes(`image${index}.jpg`))
                .split("/")

            return splitPath[splitPath.length - 2];
        };
        
        leftArrow.addEventListener("click", () => {
            const currentIndex = getCurrentImgIndex();
            const newIndex = currentIndex - 1 < 1 ? getMaxImgIndex() : currentIndex - 1;
            const associatedDir = getDirAssociatedWithIndex(newIndex);
            overlayImage.src = `/img/photos/${associatedDir}/image${newIndex}.jpg`;
        });

        rightArrow.addEventListener("click", () => {
            const currentIndex = getCurrentImgIndex();
            const newIndex = (currentIndex + 1 > imageItems.length - 1 ? 0 : currentIndex + 1) + 1;
            const associatedDir = getDirAssociatedWithIndex(newIndex);
            overlayImage.src = `/img/photos/${associatedDir}/image${newIndex}.jpg`;
            currentUsedImgIndex = newIndex;
        });
    </script>
    </div>

  {{- partial "footer.html" . -}}
</body>
{{/* These values are set dynamically to adjust the calculator to the language. */}}
{{- if $isGerman }}
<script>const LANGUAGE = "Deutsch"</script>
{{- else }}
<script>const LANGUAGE = "English"</script>
{{- end }}
</html>