{{- if .Site.Params.underConstructionBanner }}
<style>
    #under-construction-banner {
        background-color: orange;
    }

    #under-construction-img-container, #under-construction-text-container {
        width: 100%;
    }

    #under-construction-text-container h1 {
        width: 100%;
    }

    #under-construction-text-container p {
        width: 70%;
        margin: auto;
    }

    @media screen and (max-width: 700px) {
        #under-construction-text-container h1 {
            width: 90%;
        }

        #under-construction-text-container p {
            width: 90%;
            margin: auto;
        }
    }

    #under-construction-banner img {
        height: 4em;
    }
</style>

{{ $isGerman := eq .Language.LanguageName "Deutsch" }}

<div id="under-construction-banner" class="flex justify-center">
    <div>
        <div id="under-construction-img-container" class="flex justify-center mt-4">
            <img src="/img/construction.svg">
        </div>
        {{- if $isGerman }}
        <div id="under-construction-text-container" class="mb-4">
            <h1 class="text-2xl text-center p-2">Diese Seite wird noch aufgebaut</h1>
            <p class="sans">
                Diese Seite befindet sich im Aufbau, weswegen unter dieser Webadresse noch keine Buchungen
                abgewickelt werden können.
                Wenn Sie Fragen haben oder eine Buchung vornehmen möchten, kontaktieren Sie uns bitte via
                <u><a class="" href="https://www.booking.com/hotel/de/gasthaus-wini.html">booking.com</a></u>
                oder <u><a href="mailto:info@gasthaus-wini.com">E-Mail</a></u>.
            </p>
        </div>
        {{- else }}
        <div id="under-construction-text-container" class="mb-4">
            <h1 class="text-2xl text-center p-2">This Page is Under Construction</h1>
            <p class="sans">
                This page is under construction, so bookings cannot be processed at this web address yet.
                If you have any questions or would like to make a booking, please contact us via
                <u><a class="" href="https://www.booking.com/hotel/de/gasthaus-wini.html">booking.com</a></u>
                or <u><a href="mailto:info@gasthaus-wini.com">Email</a></u>.
            </p>
        </div>
        {{- end }}
    </div>
</div>
{{- end }}