{{- if .Site.Params.underConstructionBanner }}
<style>
    #under-construction-banner {
        background-color: orange;
    }

    #under-construction-img-container, #under-construction-text-container {
        width: 100%;
    }

    #under-construction-text-container h1 {
        width: 100%;
    }

    #under-construction-text-container p {
        width: 70%;
        margin: auto;
    }

    @media screen and (max-width: 700px) {
        #under-construction-text-container h1 {
            width: 90%;
        }

        #under-construction-text-container p {
            width: 90%;
            margin: auto;
        }
    }

    #under-construction-banner img {
        height: 4em;
    }
</style>

{{ $isGerman := eq .Language.LanguageName "Deutsch" }}

<div id="under-construction-banner" class="flex justify-center">
    <div>
        <div id="under-construction-img-container" class="flex justify-center mt-4">
            <img src="/img/construction.svg">
        </div>
        {{- if $isGerman }}
        <div id="under-construction-text-container" class="mb-4">
            <h1 class="text-2xl text-center p-2">Wartungsarbeiten</h1>
            <p class="sans">
                Die Buchungsfunktion ist aktuell leider eingeschränkt. Bitte wenden Sie sich bei Fragen oder Buchungen
                bitte an uns via <u><a href="mailto:info@gasthaus-wini.com">E-Mail</a></u>
                oder <u><a class="" href="https://www.booking.com/hotel/de/gasthaus-wini.html">booking.com</a></u>.
            </p>
        </div>
        {{- else }}
        <div id="under-construction-text-container" class="mb-4">
            <h1 class="text-2xl text-center p-2">Maintenance</h1>
            <p class="sans">
                Currently, we cannot process any bookings. If you have questions or booking requests, please visit send
                us a message via <u><a href="mailto:info@gasthaus-wini.com">email</a></u> or
                <u><a class="" href="https://www.booking.com/hotel/de/gasthaus-wini.html">booking.com</a></u>.
            </p>
        </div>
        {{- end }}
    </div>
</div>
{{- end }}